@page
@model Example.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stimulsoft Reports.JS - ASP.NET Demo</title>
    <!-- Report Viewer Office2013 style -->
    <link href="Css/stimulsoft.viewer.office2013.whiteblue.css" rel="stylesheet" />

    <!-- Stimusloft Reports.JS -->
    <script src="Scripts/stimulsoft.reports.js" type="text/javascript"></script>
    <script src="Scripts/stimulsoft.viewer.js" type="text/javascript"></script>
</head>
<body>
    <form>
        <select id="SelectedReport" name="SelectedReport" style="height: 25px; width: 200px" onchange="onSelectReport()">
            <option value="SimpleList">Simple List</option>
            <option value="HighlightCondition">Highlight Condition</option>
            <option value="Images">Images</option>
            <option value="MasterDetail">Master-Detail</option>
            <option value="MultiColumnList">Multi - Column List</option>
            <option value="SimpleGroup">Simple - Group</option>
            <option value="ChartStyles">Chart Styles</option>
        </select>
    </form>
    <div id="viewer" style="margin-top: 10px"></div>

    <script>
        function onSelectReport() {
            var selectedReport = document.getElementById("SelectedReport").value;
            var viewerDiv = document.getElementById("viewer");
            viewerDiv.style.visibility = selectedReport ? "visible" : "hidden";
            if (selectedReport) {
                var report = new Stimulsoft.Report.StiReport();
                report.loadFile("/GetReport/" + selectedReport);

                // View report in Viewer
                var viewer = new Stimulsoft.Viewer.StiViewer(null, "StiViewer", false);
                viewer.report = report;
                viewer.renderHtml("viewer");
            }
        }
        onSelectReport();
    </script>
</body>
</html>
